.container{
    background-color: azure;
    align-items: center;
    width: 50%;
    
}
.container span{
    margin: 5px 5px 5px 5px;
}
.container button{
    align-items: center;
    background-color: antiquewhite;
    color: #333;
    border-color: black;
}
.container button:hover{
    color: aquamarine;
    background-color: #333;
    border-color: black;
}
.container h3{
    display: block;
    font-family: fantasy;
    color: #333;
    text-align: justify;
    margin-top: 30px;
}
#mainP{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px 5px 5px 5px;
}